
  /* Styles applied to all the header. Note added sticky so the header bar
  would move as we scroll. So navigation can happen with the mouse clicks on
  each nav section.  */
  
  header {
    position: sticky;
    background-color: var(--whiteground-color);
    color: var(--black-font);
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    z-index: 2;
    top: 0;
    
  }
  
  /* When you mouse over my name on top left (the header 1) it shows a 
  cursor instead of I. This just feels a bit cleaner  */
  
  header h1 {
    cursor: pointer;
  }
   

 