 
  
/* Remove default list styles */
   nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

/* Style applied to each list item */
nav li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between navigation items */
  }

/* Styles applied to the anchors in the nav section */
   nav a {
    color: #2d2e32;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.7rem;
    padding: 10px 20px 10px 20px;
    width: 100%;
    font-weight: 600;
    transition: color 0.3s ease;
    
  }
/* Style applied to the nav anchors for mouse over */
  nav a:hover {
    color:var(--head-blue)
  }
  

  